body {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
  
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  margin: 20px 0px;
}
header .left-col {
  width: 50%;
}

header .right-col {
  width: 50%;
}

header .title {
  font-size: 32.0854px;
  font-weight: 500;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-container {
  width: 60vw;
  min-width: 375px;
  border: 1px solid #eeeeee;
  padding: 0px 20px 20px 20px;
  min-height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
